<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add to the Maniverse</title>
</head>
<body class="create_background">

    <div class="header">

            <a href="/home" type="button" class="button_maniverse">The Mani-verse</a>
            <a href="/user/home/{{ current_user.id }}" type="button" class="button_my_galaxy">My Galaxy</a>
            <a href="/user/logout" type="button" class="button_logout">Logout</a>

    </div>
    
    <div class="p-1 d-flex justify-content-center flex-column">
        <div class="intro_container">
            <h1 class="mt-0 mb-2"><center>Post Your Mani,</center></h1>
            <h2 class="username"><center> {{ current_user.username }}</center></h2>
        </div>
    </div>

    <div class="p-1 d-flex justify-content-center flex-column">

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>

        <form class="form_container" action='/images/create' method="POST">

            <div class="cont_left_column">

                <!-- <div class="create_form_field">
                    <label class="create_form_field_text" for="image">Image: </label>
                    <input class="create_form_field_input" type="file" id="image" name="image" accept="image/*">
                </div> -->
        
                <div class="create_form_field">
                    <label class="create_form_field_text" for="image">Image: </label>
                    <input class="create_form_field_input" type="text" id="image" name="image" value="{{ form_data.image }}">
                </div>

                <div class="create_form_field_caption">
                    <label class="me-2" for="caption">Caption: </label>
                    <textarea id="caption" name="caption" rows="8" cols="50">{{ form_data.caption }}</textarea><br>
                </div>

                <div class="create_form_field">
                    <label>Brand: </label>
                    <select class="brand" name="brand">
                        <option value="" disabled selected>Choose a brand</option>
                        <option value="OPI">OPI</option>
                        <option value="Orly">Orly</option>
                        <option value="Essie">Essie</option>
                        <option value="China Glaze">China Glaze</option>
                        <option value="Sinful Colors">Sinful Colors</option>
                        <option value="Sally Hensen">Sally Hensen</option>
                        <option value="Maybelline">Maybelline</option>
                        <option value="Revlon">Revlon</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="create_form_field">
                    <label class="create_form_field_text" for="color">Color: </label>
                    <input class="create_form_field_input" type="text" id="color" name="color" value="{{ form_data.color }}">
                </div>

                <div class="create_form_field">
                    <label>Brand: </label>
                    <select class="brand2" name="brand2">
                        <option value="" disabled selected>Choose a brand</option>
                        <option value="OPI">OPI</option>
                        <option value="Orly">Orly</option>
                        <option value="Essie">Essie</option>
                        <option value="China Glaze">China Glaze</option>
                        <option value="Sinful Colors">Sinful Colors</option>
                        <option value="Sally Hensen">Sally Hensen</option>
                        <option value="Maybelline">Maybelline</option>
                        <option value="Revlon">Revlon</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="create_form_field">
                    <label class="create_form_field_text" for="color2">Color: </label>
                    <input class="create_form_field_input" type="text" id="color2" name="color2" value="{{ form_data.color2 }}">
                </div>


            </div>

            <div class="cont_right_column">
                
            </div>
            
            <div class="button_single">
            <input class="button_create_mani" type="submit" value="Add to the Maniverse">
            </div>

        </form>
        
        <div class="flash_messages_cont">
        {% with messages = get_flashed_messages(category_filter = ['image']) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="image_messages">{{ message }} - </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    </div>

</body>
</html>